StepFunctions.json
{
    "Comment": "Usando o Step Functions para criar um auxiliar de jantar romântico.",
    "StartAt": "Pergunta ideias de combinação",
    "States": {
      "Pergunta ideias de combinação": {
        "Type": "Task",
        "Resource": "arn:aws:states:::bedrock:invokeModel",
        "Parameters": {
          "ModelId": "arn:aws:bedrock:us-east-1::foundation-model/amazon.titan-text-express-v1",
          "Body": {
            "inputText": "Estou programando um jantar romântico, nesse jantar irei pedir um macarrão, me de uma lista 3 itens que combinam em uma experiência gastronomica",
            "textGenerationConfig": {
              "temperature": 0.5,
              "topP": 1,
              "maxTokenCount": 2000
            }
          },
          "ContentType": "application/json",
          "Accept": "*/*"
        },
        "Next": "Add first result to conversation history",
        "ResultPath": "$.result_one",
        "ResultSelector": {
          "result_one.$": "$.Body.generations[0].text"
        }
      },
      "Add first result to conversation history": {
        "Type": "Pass",
        "Next": "Pergunta ideia de bebidas",
        "Parameters": {
          "convo_one.$": "States.Format('{}\n{}', $.prompt_one, $.result_one.result_one)"
        },
        "ResultPath": "$.convo_one"
      },
      "Pergunta ideia de bebidas": {
        "Type": "Task",
        "Resource": "arn:aws:states:::bedrock:invokeModel",
        "Parameters": {
          "ModelId": "arn:aws:bedrock:us-east-1::foundation-model/amazon.titan-text-express-v1",
          "Body": {
            "inputText": "Liste duas bebidas que acompanham um jantar romântico",
            "textGenerationConfig": {
              "temperature": 0.5,
              "topP": 1,
              "maxTokenCount": 2000
            }
          },
          "ContentType": "application/json",
          "Accept": "*/*"
        },
        "Next": "Add second result to conversation history",
        "ResultSelector": {
          "result_two.$": "$.Body.generations[0].text"
        },
        "ResultPath": "$.result_two"
      },
      "Add second result to conversation history": {
        "Type": "Pass",
        "Next": "Pergunta ideia de local para jantar",
        "Parameters": {
          "convo_two.$": "States.Format('{}\n{}\n{}', $.convo_one.convo_one, $.prompt_two, $.result_two.result_two)"
        },
        "ResultPath": "$.convo_two"
      },
      "Pergunta ideia de local para jantar": {
        "Type": "Task",
        "Resource": "arn:aws:states:::bedrock:invokeModel",
        "Parameters": {
          "ModelId": "arn:aws:bedrock:us-east-1::foundation-model/amazon.titan-text-express-v1",
          "Body": {
            "inputText": "Liste um lugar perfeito para um jartar romântico em Paris",
            "textGenerationConfig": {
              "temperature": 0.5,
              "topP": 1,
              "maxTokenCount": 2000
            }
          },
          "ContentType": "application/json",
          "Accept": "*/*"
        },
        "End": true,
        "ResultSelector": {
          "result_three.$": "$.Body.generations[0].text"
        }
      }
    }
  }